body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.Container {
  background-color: whiet;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.InputValue {
  height: 100vh;
  max-height: 400px;
  background-color: gray;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin-left: 400px;
  margin-top: 110px;
}
.inputfield{
  border-radius: 5px;
  width: 200px;
  padding:10px;
  margin: 15px;
  border: 2px solid;
  border-color: gray;
  outline: none;
}
button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 30px;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  margin: 0;
  font-size: 24px;
}

.cart-icon {
  position: relative;
}

.cart-icon i {
  font-size: 24px;
}

.cart-count {
  background-color: #ff5722;
  color: #fff;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 4px 8px;

}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  border-color: gray;
  margin-right: 100px;
}

.product h2 {
  font-size: 18px;
  margin: 0;
}

.product p {
  color: #666;
  font-size: 14px;
 
}

.product button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
}

.product button:hover {
  background-color: #ff5733;
}
.store{
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  margin-left: 250px;
}

.product-list::after {
  content: "";
  flex: auto;
}


